<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario</title>
    <!-- Incluye el archivo styles.css existente -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Incluye el archivo registro.css para personalización -->
    <link rel="stylesheet" href="/css/registro.css">
</head>
<body>
<div class="container">
    <div class="registro-container">
        <h1 class="registro-titulo">Registro de Usuario</h1>
        <form action="/registro/registrarUsuario" method="POST" id="formRegistro" class="registro-form">
            <div class="form-group">
                <label for="nombreUsuario" class="form-label">Nombre de Usuario:</label>
                <input type="text" id="nombreUsuario" name="nombreUsuario" class="form-input" required placeholder="Ingrese su nombre de usuario">
            </div>

            <div class="form-group">
                <label for="email" class="form-label">Correo Electrónico:</label>
                <input type="email" id="email" name="email" class="form-input" required placeholder="Ingrese su correo electrónico">
            </div>

            <div class="form-group">
                <label for="password" class="form-label">Contraseña:</label>
                <input type="password" id="password" name="password" class="form-input" required placeholder="Ingrese su contraseña">
            </div>

            <!-- Campos ocultos para valores predeterminados -->
            <input type="hidden" name="es_Cliente" value="false">

            <div class="form-group">
                <button type="submit" class="form-button">Registrarse</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
